<!-------start bar------->
<div class="bar">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="bar-right ">
                <a class="font-weight-bold text-white"> <i class="fas fa-sign-in-alt"></i> login</a>
            </div>
            <div class="bar-left ">
                <a class="font-weight-bold text-white"> <i class="fas fa-user-alt ml-1"></i> Register</a>

            </div>
        </div>
    </div>
</div>
<!---------End bar-------->
<!-- Start navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- logo -->
    <div class="logo ml-4">
        <h2>
            <img width="50" height="50" src="./../../../assets/image/cartp.png">
            <span class="font-weight-bold font-italic">E-commerce Website</span>
        </h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav m-auto pt-3">
            <li class="nav-item mr-3">
                <p routerLink="product-List" class="font-weight-bold">Product List</p>
            </li>
            <li class="nav-item">
                <p routerLink="Cart" class=" font-weight-bold">Cart</p>
            </li>
        </ul>
    </div>
</nav>
<!-- Start navbar -->